@font-face{
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');

}

body{
    font-family: 'Kanit';
   
}

.container{
    width: 100%;
    max-width: 640px;
    margin-left:auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(255, 98, 98, 0.96), rgba(101, 35, 254, 0.8));
    padding: 20px;
    box-sizing: border-box;
}

.header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px
}

.header-form{
    width: 120px;
}

.flex{
    display: flex;
}

.form-input{
    margin-bottom: 10px;
}

input.form, textarea{
    border: 1px solid black;
    width: 100%;
}

.center{
    text-align: center;
}

.button{
    border: 0px;
    width: 50%;
    height: 40px;
}

.message{
    margin-button: 10px;
    padding: 10px;
    background-color: rgb(217, 204, 235);
    display: none;
}

.message.success{
    background-color: lightgreen;
    display: block
}

.message.danger{
    background-color: red;
    display: block
}

table{
    align:center;
    width: 50%;
    margin : 30px auto;
    border: 5px solid black;
    border-collapse: collapse;
    
}
th{
    background-color: rgb(112, 116, 232);
    border: 2px solid black;
    border-style: solid;
    padding: 5px;
}

td{
    text-align: center;
    border: 2px solid black;
    border-style: dotted;
    padding: 5px;
}


@media screen and (max-width: 768px){
   .flex {
        flex-direction: column;
   }
   .header{
        font-size: 24px;
   }
   .button{
       width: 100%;
   }
    
}