@font-face{
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');

}

body{
    font-family: 'Kanit';
   
}

.container{
    width: 100%;
    max-width: 640px;
    margin-left:auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(255, 98, 98, 0.96), rgba(101, 35, 254, 0.8));
    padding: 20px;
    box-sizing: border-box;
}

.header{
    background-color: rgb(244, 93, 93);
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border-radius: 10px;
    border: 10px solid rgb(171, 67, 67);
    border-style: outset;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px
}

.header-form{
    width: 120px;
}

.flex{
    display: flex;
}

.form-input{
    margin-bottom: 10px;
}

input.form, textarea{
    border: 1px solid black;
    width: 100%;
}

.center{
    text-align: center;
}

.button{
    border: 0px;
    width: 50%;
    height: 40px;
}

.message{
    margin-button: 10px;
    padding: 10px;
    background-color: rgb(217, 204, 235);
    display: none;
}

.message.success{
    background-color: lightgreen;
    display: block
}

.message.danger{
    background-color: red;
    display: block
}

.pageswap{
    text-align:center;
    max-width: 150px;
    background-color:rgb(212, 184, 240);
    padding:10px;
    border-radius: 10px;
}

.pageswap:hover{
    background-color:#ff7aa9;
}
.pageswap:active{
    background-color:#7b609b;
}

#userbg{
    background-image:url("picture/user_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#mainbg{
    background-image:url("picture/main_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#user_table_bg{
    margin-left:200px;
    margin-right:200px;
    margin-top: 20px;
    padding: 50px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#edit_button{
    border-radius: 10px;
    width: 30%;
    background-color:#65ebaf;
    border-style: none;
    padding: 10px 20px;
    transition: width 0.5s;
}
#edit_button:hover{
    width: 50%;
    background-color:#3f9e77;
    
}
#edit_button:active{
    background-color:#41ff41;
}

#del_button{
    border-radius: 10px;
    width: 30%;
    background-color:#e85a5a;
    border-style: none;
    padding: 10px 20px;
    transition: width 0.5s;
}
#del_button:hover{
    width: 50%;
    background-color:#a33a3a;
}
#del_button:active{
    background-color:#ff4141;
}

a{
    color: #e9f2f0;
    text-decoration: none;

}


table{
    align:center;
    width: 90%;
    margin : 30px auto;
    border: 5px solid black;
    border-collapse: collapse;
    transition: 0.5s;
}

tr:hover{
    background-color: rgb(250, 252, 147);
}

tr th{
    background-color: rgb(112, 116, 232);
    
}

th{
    border: 2px solid black;
    border-style: solid;
    padding: 5px;
}

tr{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

td{
    border: 2px solid black;
    border-style: dotted;
    padding: 5px;
}



@media screen and (max-width: 768px){
   .flex {
        flex-direction: column;
   }
   .header{
        font-size: 24px;
   }
   .button{
       width: 100%;
   }
    
}